SECRET_KEY=secret key
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://127.0.0.1:5173 #sample
# REDIS_HOST=localhost
# REDIS_PORT=6379
# ALLOWED_HOSTS = 'asdad'
EMAIL_HOST_USER=your email
EMAIL_HOST_PASSWORD= the app password generated in google account

#for postgres
PG_NAME=myproject
PG_USER=myuser
PG_PASSWORD= mypassword
PG_HOST=localhost
PG_PORT=5432

GDAL_PATH=\OSGeo4W\bin\gdal312.dll
GEOS_LIBRARY_PATH=\OSGeo4W\bin\geos_c.dll